<h2>Monthly Reports</h2>
<div class="table-responsive">
   <table id="reports-table" class="table table-striped table-sm">
      <thead>
         <tr>
            <th>Company</th>
            <th>Type</th>
            <th>Billing Total</th>
            <th>Profit</th>
         </tr>
      </thead>
      <tbody>
      </tbody>
   </table>
</div>
